<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="index.html" th:href="@{/}">main Page</a>



    <div th:each="user : ${users}">

        <a th:href="@{/admin/users/{id}(id = ${user.id})}">
            <span>KLIKNIJ MNIE ;]</span>
        </a>
        <div th:text="${user.id}"></div>
        <div th:text="${user.firstName}"></div>
        <div th:text="${user.lastName}"></div>
        <div th:text="${user.age}"></div>
        <div th:text="${role}"></div>
        <br><br>
    </div>


</body>
</html>