<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<div class="col-6 offset-3 d-flex justify-content-end pt-4 pb-3">
    <a class="btn btn-primary" th:href="@{/create-category}">Dodaj</a>
</div>


<div class="col-6 offset-3">
    <ul class="list-group">
        <li th:each="category: ${categories}" th:text="${category.name}" class="list-group-item">
        </li>
    </ul>
</div>

</body>
</html>