<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

        <tr th:each="category: ${categories}">
            <td th:text="${category.id}" />
            <td th:text="${category.name}" />
            <br><br>
        </tr>

        <a th:href="@{/create-category}">Add category</a>

</body>
</html>