<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<p th:utext="${message}"></p>

<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="index.html" th:href="@{/admin}">Admin Page</a>
</div>

<p th:utext="${#authentication}"></p>

<div th:replace="notes.html :: notes"></div>
</body>
</html>