<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div th:fragment="notes">
    <div class="container">
       NOTATKI

        <tr th:each="note: ${notes}">
            <td th:text="${note.id}" />
            <td th:text="${note.title}" />
            <td th:text="${note.content}" />
            <td th:text="${note.link}" />
            <td th:text="${#temporals.format(note.creationDate, 'dd-MM-yyyy')}" />
            <td th:text="${note.category.name}" />
            <br><br>
        </tr>
    </div>
</div>
</body>
</html>