<!DOCTYPE html>
<html>
<head>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body th:style="'background: url(/img/main-backbround.svg) no-repeat center center fixed;'">
<div th:insert="fragments/navbar :: navbar"></div>

        <div class="p-5">

            <div class="d-flex justify-content-end pb-3">
                <a class="btn btn-primary" th:href="@{/create-note}">Dodaj</a>
            </div>

            <div style="border: 1px solid #cecece; border-radius: 12px; overflow: hidden" class="bg-white">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th class="px-3" scope="col">#</th>
                        <th scope="col">Tytuł</th>
                        <th scope="col">Treść</th>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Link do udostępnienia</th>
                        <th scope="col">Data dodania</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="note, i: ${notes}">
                        <td th:text="${i.index}" />
                        <td th:text="${note.title}" />
                        <td th:text="${note.content}" />
                        <td th:text="${note.category.name}" />
                        <td th:text="${note.link}" />
                        <td th:text="${#temporals.format(note.creationDate, 'dd-MM-yyyy')}" />
                        <td><a th:href="@{/notes/share-note/{id}(id = ${note.id})}" class="btn btn-info">Udostepnij komus se</a></td>
                        <td><a th:href="@{/notes/{id}(id = ${note.id})}" class="btn btn-secondary">Edytuj</a></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>