<!DOCTYPE html>
<html>
<head>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

    <div class="container">
       NOTATKI
<br>
        <tr th:each="note: ${notes}">
            <td th:text="${note.id}" />
            <td th:text="${note.title}" />
            <td th:text="${note.content}" />
            <td th:text="${#temporals.format(note.creationDate, 'dd-MM-yyyy')}" />
            <td th:text="${note.category.name}" />
            <br><br>
        </tr>


        <a th:href="@{/create-note}">Add Note</a>
    </div>
</body>
</html>