<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body th:style="'background: url(/img/main-backbround.svg) no-repeat center center fixed;'">
<div th:insert="fragments/navbar :: navbar"></div>

<div class="p-5">
<div style="border: 1px solid #cecece; border-radius: 12px; overflow: hidden" class="bg-white">
    <table class="table m-0">
        <thead>
        <tr>
            <th class="px-3" scope="col">#</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Treść</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Data dodania</th>
            <th scope="col">Użytkownik</th>
        </tr>
        </thead>
        <tbody id="tbody">
<!--        <tr th:each="note, i: ${sharedNotes}">
            <td th:text="${i.index}" />
            <td th:text="${note.title}" />
            <td style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis"  th:text="${note.content}"/>
            <td  th:text="${note.category.name}"/>
            <td  th:text="${#temporals.format(note.creationDate, 'dd-MM-yyyy')}"/>
            <td  th:text="${note.author.firstName}+' '+${note.author.lastName}"/>
        </tr>-->
        </tbody>
    </table>
</div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    const sharedNotes = /*[[${sharedNotes}]]*/ 'default';
    const temporals = /*[[${temporals}]]*/ 'default';
    const content = ``;

    const getTemplate = (note, index) => {
        return `<tr>
            <td>${index}</td>
            <td>${note.title}</td>
            <td>${note.content}</td>
            <td>${note.category.name}</td>
            <td></td>
            <td>${note.author.firstName}+' '+${note.author.lastName}</td>
        </tr>`
    }

    sharedNotes.forEach((note, i)=>{
        const el = getTemplate(note, i)
        document.getElementById('tbody').insertAdjacentHTML("afterend", el)
    })

    console.log(template)
</script>

</body>
</html>