<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body th:style="'background: url(/img/main-backbround.svg) no-repeat center center fixed;'">
<div th:insert="fragments/navbar :: navbar"></div>

<div class="p-5">
<div style="border: 1px solid #cecece; border-radius: 12px; overflow: hidden" class="bg-white">
    <table class="table m-0">
        <thead>
        <tr>
            <th class="px-3" scope="col">#</th>
            <th style="cursor: pointer" onclick="sortBy('title')" scope="col">Tytuł</th>
            <th scope="col">Treść</th>
            <th style="cursor: pointer" onclick="sortBy('category')" scope="col">Kategoria</th>
            <th style="cursor: pointer" onclick="sortBy('date')" scope="col">Data</th>
            <th style="cursor: pointer" onclick="sortBy('user')" scope="col">Użytkownik</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    const _sharedNotes = /*[[${sharedNotes}]]*/ 'default';
    const temporals = /*[[${temporals}]]*/ 'default';
    const content = ``;
    let _sortedNotes = _sharedNotes

    const getTemplate = (note, index) => {
        return `
        <tr>
            <td>${index}</td>
            <td>${note.title}</td>
            <td>${note.content}</td>
            <td>${note.category.name}</td>
            <td></td>
            <td>${note.author.firstName} ${note.author.lastName}</td>
        </tr>
        `
    }

    const clearTbody = () => {
        document.getElementById('tbody').innerHTML = ''
    }

    const renderTableBody = () => {
        clearTbody()
        _sharedNotes.forEach((note, i)=>{
            const el = getTemplate(note, i)
            document.getElementById('tbody').insertAdjacentHTML("beforeend", el)
        })
    }
    let _sortedByState = null;
    let _asc = true;

    const sortBy = (column)=>{
        if(column === _sortedByState){
            _asc = !_asc
        }
        _sortedByState = column
        if(_asc){
            _sortedNotes.sort((a,b) => (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0))
        } else {
            _sortedNotes.sort((a,b) => (a[column] < b[column]) ? 1 : ((b[column] < a[column]) ? -1 : 0))
        }
        renderTableBody()

    }

    renderTableBody()
</script>

</body>
</html>