<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:style="'background: url(/img/main-backbround.svg) no-repeat center center fixed;'">
<div th:text="${userDto.id}"></div>
<div th:text="${userDto.firstName}"></div>
<div th:text="${userDto.lastName}"></div>
<div th:text="${userDto.age}"></div>
<div th:text="${userDto.role}"></div>

<form th:object="${userDto}" th:action="@{'/admin/users/' + ${userDto.id} + '/update'}" method="post">
    <select th:field="*{role}" class="form-control" id="dropDownList">

        <option
                th:each="role : ${allRoles}"
                th:value="${role}"
                th:text="${role}"
                th:selected="${role == userDto.role}"
        ></option>
    </select>
    <input type="submit" value="Save Role">
</form>


</body>
</html>